:root {
    --steel-bleue: #3b99d9;
    --steel-bue-2: #2e80b6;
    --dark-khaki: #a8d069;
    --medium-sea-green: #30ad64;
    --light-sea-green: #25ccbf;
    --light-sea-green-2: #20ac99;
    --sand-brown: #f8c740;
    --goldenrod: #e2a62b;
    --khaki: #face6a;
    --sandy-brown-2: #e5b962;
    --salmon: #fd7072;
    --indian-red-2: #af4173;
    --tan: #d39f9a;


}